@page "/transacoes/create"

@using Microsoft.EntityFrameworkCore
@using Newtonsoft.Json
@using IntegracaoCieloEcommerceSandbox.Models
@using IntegracaoCieloEcommerceSandbox.Data
@using IntegracaoCieloEcommerceSandbox.Services
@using IntegracaoCieloEcommerceSandbox.Exceptions
@inject TransacaoService TransacaoService
@inject AppDbContext DbContext
@inject NavigationManager NavigationManager


<PageTitle>Transação</PageTitle>

<h1>Criar Transação</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Transacao" OnValidSubmit="AddTransacao" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="valor" class="form-label">Valor:</label> 
                <InputNumber id="valor" @bind-Value="Transacao.Valor" class="form-control" /> 
                <ValidationMessage For="() => Transacao.Valor" class="text-danger" /> 
            </div>    
            <div class="mb-3">
                <label for="cartaoId" class="form-label">Selecione o Cartão:</label>
                <InputSelect id="cartaoId" @bind-Value="Transacao.CartaoId" class="form-control">
                    @foreach (var cartao in cartoes)
                    {
                        <option value="@cartao.Id">@cartao.NumeroDoCartao - @cartao.NomeNoCartao</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Transacao.CartaoId" class="text-danger" />
            </div>

            <button id="submitButton" type="submit" class="btn btn-primary btn-sm me-2">Criar</button>
            <a class="btn btn-secondary btn-sm me-2" href="/transacoes"><i class="bi bi-arrow-left"></i>Voltar pra lista</a>
        </EditForm>
    </div>
</div>

@if (!string.IsNullOrEmpty(mensagemErro))
{
    <div class="alert alert-danger">@mensagemErro</div>
}

@code {

    [SupplyParameterFromForm]
    public Transacao Transacao { get; set; } = new();
    private List<Cartao> cartoes = new List<Cartao>();
    private string? mensagemErro;
    private bool isProcessing;
    private bool navegar;

    protected override async Task OnInitializedAsync()

    {
        // Carregar a lista de cartões cadastrados no banco
        cartoes = await DbContext.Cartoes.ToListAsync();
    }

    public async Task AddTransacao()
    {
        try
        {
            if (isProcessing)
            {
                return;
            }
            
            isProcessing = true;

            await TransacaoService.CreateTransacao(Transacao);

            navegar = true;
        }
        catch (EntityLimitExceededException ex)
        {
            mensagemErro = ex.Message;
        }
        catch (Exception ex)
        {
            mensagemErro = $"Ocorreu um erro: {ex.Message}";
        }
        finally
        {
            isProcessing = false;
            if (navegar)
            {
                NavigationManager.NavigateTo("/transacoes");
            }
        }
    }
}
