@page "/transacoes"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using IntegracaoCieloEcommerceSandbox.Models
@using IntegracaoCieloEcommerceSandbox.Data
@inject AppDbContext DbContext
@implements IAsyncDisposable

<PageTitle>Transações</PageTitle>

<h1>Transações</h1>

<div>
    <a class="btn btn-primary btn-sm me-2" href="transacoes/create">Criar Transação</a>
</div>

<div class="table-wrapper">
<QuickGrid Class="table" Items="DbContext.Transacoes">
    <PropertyColumn Property="transacao => transacao.Valor" Format="c2" />
    <PropertyColumn Property="transacao => transacao.PaymentId" Title="Id do Pagamento" />
    <PropertyColumn Property="transacao => transacao.EstadoDaTransacao" Title="Estado da Transação" />

    <TemplateColumn Context="transacao">
        <div class="d-inline-flex flex-row">
            @if (transacao.EstadoDaTransacao == "Operation Successful")
            {
                <a class="btn btn-success btn-sm me-2" href="@($"/transacoes/edit?id={transacao.Id}")"><i class="bi bi-coin"></i> Capturar</a>
            } 
            
            @if (transacao.EstadoDaTransacao == "Transação Capturada!" || transacao.EstadoDaTransacao == "Operation Successful")
            {
                <a class="btn btn-warning btn-sm me-2" href="@($"transacoes/delete?id={transacao.Id}")"><i class="bi bi-pause-circle-fill" style="color: black"></i> Cancelar</a>
            }

            <a class="btn btn-secondary btn-sm me-2" href="@($"transacoes/details?id={transacao.Id}")"><i class="bi bi-card-text"></i> Detalhes</a>
            <a class="btn btn-danger btn-sm me-2" href="@($"/transacoes/remove?id={transacao.Id}")"><i class="bi bi-trash3-fill"></i> Remover</a>
        </div>
    </TemplateColumn>
</QuickGrid>
</div>


@code {

    

    public async ValueTask DisposeAsync()
    {
        if (DbContext != null)
        {
            await DbContext.DisposeAsync();
        }
    }
}
