@page "/cartoes"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using IntegracaoCieloEcommerceSandbox.Models
@using IntegracaoCieloEcommerceSandbox.Data
@inject AppDbContext DbContext
@implements IAsyncDisposable

<PageTitle>Cartões</PageTitle>

<h1>Cartões cadastrados</h1>

<div>
    <a class="btn btn-primary btn-sm me-2" href="cartoes/create">Adicionar cartão</a>
</div>

<div class="table-wrapper">
    <QuickGrid Class="table" Items="DbContext.Cartoes">
        <PropertyColumn Property="cartao => cartao.NumeroDoCartao" Title="Número Do Cartão" />
        <PropertyColumn Property="cartao => cartao.Cvv" Title="CVV" />
        <PropertyColumn Property="cartao => cartao.Validade" />
        <PropertyColumn Property="cartao => cartao.NomeNoCartao" Title="Nome No Cartão" />

        <TemplateColumn Context="cartao">
            <div class="d-inline-flex flex-row">
                <a class="btn btn-warning btn-sm me-2" href="@($"cartoes/edit?id={cartao.Id}")"><i class="bi bi-pencil-square" style="color: black"></i> Editar</a>
                <a class="btn btn-secondary btn-sm me-2" href="@($"cartoes/details?id={cartao.Id}")"><i class="bi bi-card-text"></i> Detalhes</a>
                <a class="btn btn-danger btn-sm me-2" href="@($"cartoes/delete?id={cartao.Id}")"><i class="bi bi-trash3-fill"></i> Remover</a>
            </div>
        </TemplateColumn>
    </QuickGrid>
</div>


@code {

    public async ValueTask DisposeAsync()
    {
        if(DbContext != null)
        {
            await DbContext.DisposeAsync();
        }
    }
}
