@page "/"

<PageTitle>Página Inicial</PageTitle>

<h1>Teste integração com a Sandbox da Cielo!</h1>

<p>Este sistema foi criado como teste para uma empresa em 2024, acabou não dando certo naquele momento mas sempre pensei que poderia usá-lo como portfólio, apesar de não ser tão elegante.</p>

<p>Ele permite cadastrar cartões de crédito (apenas para testes na sandbox da Cielo) e realizar transações de venda utilizando esses cartões.</p>

<p>O que define o status da transação é o último número do cartão. Para ser pagamento aprovado o último número deve ser 1, então você poderá testar o cancelamento e a captura da transação.</p>

<p>Para manter com baixo custo, todas as entidades são limitadas a 5 por vez, então só podem existir até 5 cartões e 5 transações simultaneamente. sinta-se livre para apagar e criar novos registros conforme desejar.</p>

<p>Houve utilização de IA para auxiliar a criação do código, mas sua boa parte do CRUD foi feita por mim e na época precisei aprender bastante sobre integração com APIs. Além de que eu mal entendi o pedido do teste, a documentação tinha sido atualizada então a pesquisa não serviu para muita coisa, e eu acabei demorando um pouco para entender a documentação sozinho.</p>

<p>Espero que gostem! Ou me deem dicas de como melhorar!</p>